
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

/* Navbar */

nav{
    position:fixed;
    top:0;
    width:100%;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:transparent;
    transition:0.4s;
    z-index:1000;
}

/* Scroll Effect */

nav.scrolled{
    background:#111;
}

/* Logo */

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

/* Nav Links */

.nav-links{
    list-style:none;
    display:flex;
}

.nav-links li{
    margin-left:25px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

/* Hover Effect */

.nav-links a:hover{
    color:yellow;
}

/* Hero Section */

.hero{
    height:100vh;
    background:linear-gradient(to right,#4facfe,#00f2fe);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;
    padding:20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    margin-bottom:25px;
}

.hero button{
    padding:12px 30px;
    border:none;
    border-radius:5px;
    background:white;
    cursor:pointer;
}

/* Content Sections */

.content{
    height:100vh;
    padding:120px 40px;
    background:#f4f4f4;
    border-bottom:2px solid #ddd;
}

.content h2{
    font-size:40px;
    margin-bottom:20px;
}

.content p{
    font-size:22px;
    line-height:1.8;
}

/* Responsive */

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    .nav-links{
        margin-top:10px;
    }

    .hero h1{
        font-size:38px;
    }

}
